body {
    color: #777;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    padding-left: 0;
}
    #layout.active {
        position: relative;
        left: 175px;
    }
        #layout.active #menu {
            left: 175px;
            width: 150px;
        }

        #layout.active .menu-link {
            left: 175px;
        }
/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}



/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    margin-left: -150px; /* "#menu" width */
    width: 175px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
	text-align : center;
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        color: #999;
        border: none;
        padding: 0.6em 0 0.6em 0em;
    }
    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: 1px solid #333;
    }
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: #333;
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: #1f8dd6;
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #fff;
        }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 110%;
        color: #fff;
        margin: 0;
    }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }

.center-div {
	margin-left: auto;
    margin-right: auto;
	text-align: center;
}
.va-bottom {
	position: absolute;
	bottom : 0;
}
.halfScale {
	height: 25%;
	width : 25%;
	position:relative;
}
.DataHide {
	display : none;
}
.listingItemName {
	font-weight : bold;
	text-align : center;
}
.itemName {
	font-weight : bold;
	text-align : center;
}
.itemDescription {
	text-align : justify;
}
span.tag{
	padding : 0  0.3em 0.3em 0.3em;
}
span.goldPrice {
	position: relative;
	top: -28px;
}
img.goldIcon {
	
-webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.5); /* FF3.5+ */
    -ms-transform: scale(0.5); /* IE9 */
    -o-transform: scale(0.5); /* Opera 10.5+ */
    transform: scale(0.5);
}
#dbByName {
	margin-right : 5px;
}
div.preview {
	text-align : center;
}
div.listingTagsContainer{
	text-align : center;
}
div.itemListingName {
	text-align : center;
}
div.listingServer {
	text-align : center;
	border-radius : 15px 15px 0px 0px;
	border-top : 2px solid grey;
	border-left : 2px solid grey;
	border-right : 2px solid grey;
}
div.listingOwnerContainer {
	text-align : center;
	border-radius : 0px 0px 15px 15px;
	border-bottom : 2px solid grey;
	border-left : 2px solid grey;
	border-right : 2px solid grey;
	margin-bottom : 5px;
}
div.listingTags {
	font-size : 85%;
	padding : 2px 2px 2px 2px;
	background-color : #c4c4c4;
	border-radius : 15px;
	border : 1px hidden white;
}
div.itemListingContainer {
	margin : auto;
}
div.detailedTagsContainer {
	align : center;
	text-align : center;

}
div img {
	margin : auto;
	display : block;
}
div img.goldIcon{
	display : initial;
}
div.itemListingContainer {
	border : 1px outset grey;
	border-radius : 15px;
	-webkit-box-shadow: -4px 4px 12px 0px rgba(50, 50, 50, 0.84);
	-moz-box-shadow:    -4px 4px 12px 0px rgba(50, 50, 50, 0.84);
	box-shadow:         -4px 4px 12px 0px rgba(50, 50, 50, 0.84);
}
div.itemListingPadding {
	padding : 5px 5px 5px 5px;
}
div.hideToggle {
	margin : 5px 5px 5px 5px;
	display : flex;
}
div.listingItemDescription {
	padding : 5px 5px 5px 5px;
}
input.serverCheck {
	padding : 5px 5px 5px 5px;
}
label {
	padding : 5px 5px 5px 5px;
}
div.sectional {
	border-bottom: 2px solid #cccccc;
}
table.table-scroll{
	overflow : scroll;
}
.center-link {
	text-align : center;
}
div.border-padding {
	padding : 5px 5px 5px 5px;
	border-bottom : 2px solid #eee;
}
div.beta-tag {
	font-size: 50%;
}
div.bordered-light {
	border : 2px, solid,  #eeeeee
}
/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 150px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 150px;
    }

    .menu-link {
        position: fixed;
        left: 150px;
        display: none;
    }

    #layout.active .menu-link {
        left: 150px;
    }
}

img.menusvg {
	display : inline;
	vertical-align : middle;
	-webkit-transform: scale(0.75); 
    -moz-transform: scale(0.75); 
    -ms-transform: scale(0.75); 
    -o-transform: scale(0.75); 
    transform: scale(0.75);
	max-height: 32px;
	max-width: 32px;
}
img.menusvg:hover{
	background-color : #ffffff;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
div.inspectWrapper{
	height: 64px;
	width: 64px;
	position: relative;
}

